/app/.venv
/database/.venv
/searcher/.venv
/.idea

/app/.idea
/database/.idea
/searcher/.idea

/searcher/movies_cache_new.pkl
/searcher/movies_cache.pkl

/database/create_tables.sql
/database/data/tmdb_database.db